<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moco.magnet.encounter"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moco.magnet.encounter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moco.magnet.encounter.JoinActivity"
            android:label="Join Room"
            android:parentActivityName="com.moco.magnet.encounter.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moco.magnet.encounter.MainActivity" />
        </activity>
        <activity
            android:name="com.moco.magnet.encounter.CreateActivity"
            android:label="Create Room"
            android:parentActivityName="com.moco.magnet.encounter.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moco.magnet.encounter.MainActivity" />
        </activity>
        <meta-data
    android:name="com.google.android.maps.v2.AIzaSyAbcpw0Wgbypx4_pl6HqPT76YQNHuZl3t4"
    android:value="AIzaSyAbcpw0Wgbypx4_pl6HqPT76YQNHuZl3t4"/>
    </application>

</manifest>